body {
	background-color:#999999;	
	text-align:center;		
}
div#pagebody {
	width:796px; margin:0 auto;	
	text-align:left;	
	background-image:url("images/bg_pagebody.gif");	
	background-repeat:repeat-y;		
	background-color:#ffffff;		
}
.table-a ,
.table-b {
	    border-collapse: collapse;
	    border: 1px solid #000;
	    cellpadding: 5px;
	    width:1200px;
	}
	.table-a td {
	    width: calc(100% / 7);
	    border: 1px solid #000;
        }	
	.table-a th {
	    width: calc(100% / 7);
	    border: 1px solid #000;
	}
	.table-a td[colspan="2"] {
	    width: calc(100% / 7 * 2);
	}
	.table-a td[colspan="3"] {
	    width: calc(100% / 7 * 3);
	}
	.table-a th[colspan="2"] {
	    width: calc(100% / 7 * 2);
	}
	.table-a th[colspan="3"] {
	    width: calc(100% / 7 * 3);
	}

	.table-b td {
	    border: 1px solid #000;
	}
